<div class="pagination">
    <span class="step-links">
        {% if queryset.has_previous %}
            <a href="{% fix_pagination 1 'page' request.GET.urlencode %}">&laquo; first</a>
            <a href="{% fix_pagination queryset.previous_page_number 'page' request.GET.urlencode %}">previous</a>
        {% endif %}

        <span class="current-page">{{ queryset.number }}</span>

        {% if queryset.has_next %}
            <a href="{% fix_pagination queryset.next_page_number 'page' request.GET.urlencode %}">next</a>
            <a href="{% fix_pagination queryset.paginator.num_pages 'page' request.GET.urlencode %}">last &raquo;</a>
        {% endif %}
    </span>
</div>
